*, *::before, *::after {
	box-sizing: border-box;
	font-family: "Comic Sans MS";
	cursor: default;
}

body {
	margin: 0;
	background-color: #F5F5F5;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

articlenumber {
	display: none;
	position: absolute;
	width: 500px;
	font-size: 16px;
	text-align: center;
	background-color: white;
	z-index: 3;
	padding: 10px;
	-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
}

#main, #rateState {
	margin: 30px auto 0 auto;
	position: relative;
	background-color: white;
	height: 1020px;
	position: relative;
}

#main {
	width: 1362px;
}

#rateState {
	width: 1920px;
}

#main > #contextmenu {
	border-radius: 5px;
	display: none;
	position: absolute;
	z-index: 3;
	width: 140px;
	padding: 10px;
	background-color: white;
	font-size: 16px;
	-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
}

#main > #contextmenu > div {
	margin: 0;
	padding: 1px 0 3px 0;
	text-align: center;
	border: 1px solid transparent;
}

#main > #contextmenu > div:hover {
	border: 1px solid #3399FF;
	background-color: rgba(51, 153, 255, 0.2);
}

#main > #contextmenu > #rateCount {
	font-size: 14px;
	color: darkgray;
	font-style: oblique;
	text-decoration-style: dotted;
}

#main > article > figure {
	width: 115px;
	height: 115px;
	margin: 5px 50px 20px 50px;
	padding: 10px;
	background-color: white;
	display: inline-table;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

#main > article > figure:hover {
	-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.5);
}

#main > article {
	padding: 0 30px 0 65px;
	display: none;
}

#main > article:nth-child(1) {
	display: block;
}

#main > article > h1 {
	text-align: center;
	font-size: 36px; 
	margin-bottom: 30px;
	padding-top: 10px; 
}

#main > #nextButton, #main > #previousButton, #rateState > #backButton {
	position: absolute;
	z-index: 1;
	font-size: 20px;
	background-color: white;
	height: 50px;
}

#main > #nextButton {
	right: 68px;
	bottom: 15px;
}

#main > #previousButton {
	left: 46px;
	bottom: 15px;
}

#rateState > #backButton {
    top: 10px;
    right: 30px;
}

#main > #voteText {
	position: absolute;
	bottom: 16px;
	left: 415px;
	font-size: 20px;
}

#main > #voteText > #voteIndex {
	display: inline-table;
}

#main > #vote {
	display: none;
	position: absolute;
	bottom: 16px;
	left: 665px;
	z-index: 1;
	background-color: white;
	font-size: 20px;
}

#rateState {
	display: none;
}

#rateState > #percentageCell {
	position: absolute;
	bottom: 50px;
	margin: 0;
	padding: 0;
	font-size: 21px;
	width: 18px;
	text-align: right;
	display: inline-block;
	white-space: nowrap;
	-webkit-transform: translate(1.1em,0) rotate(270deg);
		-moz-transform: translate(1.1em,0) rotate(270deg);
			-o-transform: translate(1.1em,0) rotate(270deg);
			transform: translate(1.1em,0) rotate(270deg);
	-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
			-o-transform-origin: 0 0;
			transform-origin: 0 0;
	-ms-transform: none;
	-ms-transform-origin: none;
	-ms-writing-mode: tb-rl;
	*writing-mode: tb-rl;
	z-index: 3;
}

#rateState > #unfillCell, #rateState > #cell {
	position: absolute;
	bottom: 75px;
	margin: 0;
	padding: 0;
	width: 18px;
	display: inline-block;
}

#rateState > #unfillCell {
	background-color: lightyellow;
	height: 850px;
	z-index: 1;
}

#rateState > #cell {
	background-color: green;
	z-index: 2; 
}

#rateState > #rateVote {
	display: inline-block;
	position: absolute;
	bottom: 60px;
	font-size: 8px;
	padding: 0;
	margin: 0;
}

#largeImage {
	background-color: white;
	z-index: 3;
	padding: 20px;
	-webkit-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	box-shadow: -2px 2px 3px 1px rgba(0,0,0,0.4);
	background-color: white;
	position: absolute;
	top: 80px;
	left: 250px;
}